* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Palanquin', sans-serif;
}

.container-fluid {
	padding-left: 0;
}

.main-container {
	width: 100%;
	padding-left: 0;
  margin: 0;
}

.home {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 15;
	top: 45%;
	left: 50%;
	text-align: center;
	margin: -100px 0 0 -150px;
}

.home h2 {
	color: #091e5e;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 48px;
}

.reg-btn {
  height: 45px;
  background-color: #ff7028;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: .1em;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 0px 15px;
  margin: 10px;
}

.reg-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

.reg-btn:hover {
  color: #1b4de9;
}

.reg-btn a:hover {
  color: #1b4de9;
}

.login {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 15;
	top: 45%;
	left: 50%;
	text-align: center;
	margin: -100px 0 0 -150px;
	max-width: 100vw;
}

#form-btn {
	width: 100%;
	padding: 0.5em 5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}

#form-btn:hover {
	color: #1034a6;
}

.form-btn {
	border: 0;
	padding: 0;
	margin-bottom: 2em;
}

.input {
	width: 80%;
	margin-left: 2em;
}

.profile-list {
	padding-right: 2em;
}

#account {
	/* width: 100%; */
	position: absolute;
	padding: 0.05em 0.25em;
	color: #020717;
	background: #e0e7fc;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	right: 0;
}

#account:hover {
	color: #1034a6;
}

.account-btn {
	color: #020717;
	background: #e0e7fc;
	padding: 0.05em 0.25em;
	border: none;
	outline: none;
}

#challenges button {
	outline: none;
}

@media screen and (max-width: 480px) {
	.profile-list {
		margin-left: 2.5em;
	}
	#profile h4 {
		margin-left: 2em;
	}
}

.main {
	position: absolute;
	width: 400px;
	height: 500px;
	z-index: 15;
	top: 30%;
	left: 40%;
	text-align: center;
	margin: -100px 0 0 -150px;
	max-width: 100vw;
}

/* Create Maze */
.create-maze {
	text-align: center;
	padding: 6em 0 0 0.75em;
}

#key {
	width: 300px;
	left: 50vw;
	margin: 40px auto;
	padding: 0px 0px 0px 35px;
}

#key p {
  margin: auto;
	text-align: left;
  font-size: 1.5em;
  padding-bottom: 10px;
}

#key img {
	width: 30px;
	float: left;
  margin-right: 30px;
  padding-top: 5px;
}

.fileUpload {
	position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload {
  font-size: 16px;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 480px) {
	.create-maze {
		text-align: center;
		padding: 2.5em;
	}
}

/* End Create Maze */

/* Flood Fill Start */

#floodFillView {
	text-align: center;
	padding: 0.5em 0 1em 0;
	position: absolute;
	max-width: 100vw;
	max-height: 100vh;
	height: 100vh;
	left: 30%;
	font-size: 1.1em;
}

#floodFillView canvas {
	max-height: 80vh;
}

#floodFillButtons {
	position: absolute;
	width: 100%;
	margin: auto;
	z-index: 20;
	bottom: 0;
}

#crop-container {
  margin: 0 auto;
}

#create-btn-container {
  position: absolute;
	width: 700px;
  left: calc((100vw / 2) - 350px);
}

#mazeImageCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	margin: 0 0 0 0;
	z-index: -5;
}

#mazeImage {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	margin: 0 0 0 0;
	z-index: -5;
}

@media screen and (max-width: 510px) {
  #create-btn-container {
    position: absolute;
    width: 350px;
    left: calc((100vw / 2) - 175px);
  }

	#floodFillView {
		position: absolute;
		max-width: 100vw;
		max-height: 90vh;
		top: 0;
		left: 1em;
		margin: 0 0 0 0;
		text-align: center;
	}

	#floodFillView canvas {
		max-height: 60vh;
		margin: auto auto auto auto;
	}

	#floodFillButtons {
		position: absolute;
		width: 100%;
		z-index: 20;
		bottom: 0.5em;
		left: 6%;
	}
}

/* End Flood Fill */

/* Pixi Game */

#field {
	position: absolute;
}

#staticDot {
	width: 15px;
	height: 15px;
	background-color: white;
}

#dynamicDot {
	width: 15px;
	height: 15px;
	background-color: yellow;
}

#totalLoss {
	background-color: white;
	position: relative;
	left: 60%;
	top: 80%;
	height: 40px;
	width: 80px;
}

ul {
	list-style: none;
}

#pixiGameBoard {
	position: absolute;
	max-width: 100vw;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	left: 32%;
}

#pixiGameBoard canvas {
	max-height: 100vh;
}

@media screen and (max-width: 480px) {
	#pixiGameBoard {
		left: 0px;
	}

	#pixiGameBoard canvas {
		max-height: 100vh;
	}
}

/* End of Pixi Game */

/* Tutorial page */

.default-display {
  padding-bottom: 20px;
  color: #979797;
}

.content {
	padding-top: 3em;
	text-align: center;
  max-width: 500px;
  height: 650px;
  margin: 0 auto;
}

.content h3 {
	margin-bottom: 2em;
}

.tutorial h5 {
  margin-bottom: 45px;
}

.content p {
  max-width: 300px;
  margin: 0 auto;
}


.tutorial-buttons {
  position: fixed;
  width: 500px;
  height: 180px;
  margin: 0 auto;
  bottom: 50px;
}

#back-btn {
  position: absolute;
  left: 120px;
  bottom: 10px;
}

#next-btn {
  position: absolute;
  right: 120px;
  bottom: 10px;
}

#started-btn {
  position: absolute;
  right: 120px;
  bottom: 10px;
}

.no-underline a {
  text-decoration: none;
  color: white;
}

#tutorial-text {
  max-width: 350px;
  margin: 0 auto;
}

#tutorial-btn {
	width: 100%;
	padding: 0 0.5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	margin-top: 1.5em;
}

@media screen and (max-width: 480px) {
	.tutorial {
		padding: 2.5em;
	}
}

/* End of Tutorial Page */

/* Featured */

.card-featured {
	width: 70%;
  margin: 2em auto;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
	.featured {
		padding: 3.5em;
	}

	.card-body {
		padding: 1em 0.25em;
	}
}

.friends {
  text-align: center;
  padding: 6em 0 0 0.75em;
}

@media screen and (max-width: 480px) {
	.friends {
		padding-top: 3em;
	}
}

.friends h3 {
	margin-bottom: 1em;
}

.friends p {
	text-align: left;
	margin-bottom: 0.5em;
}

.friends form {
	margin-top: 1em;
}

#friends {
	/* width: 100%; */
	position: absolute;
	padding: 0.05em 0.25em;
	color: #020717;
	background: #e0e7fc;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	right: 15%;
}

#friends:hover {
	color: #1034a6;
}

.friends-btn {
	color: #020717;
	background: #e0e7fc;
	padding: 0.05em 0.25em;
	border: none;
	outline: none;
}

.friend-suggest {
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.friend-suggest {
	text-align: left;
	margin-bottom: 15px;
}

.friend-suggest h5 {
  padding-top: 15px;
}

#friend-list {
  margin-bottom: 50px;
}

.selection {
	max-width: 350px;
	margin: 0 auto;
	text-align: center;
}

.selection h5 {
	margin-bottom: 30px;
}

.selection button {
	margin-top: 30px;
}

.form-check {
	overflow: hidden;
}

.form-check label {
	float: left;
}

.selection input {
	clear: both;
	position: absolute;
	right: 0px;
}

.sentChallenges {
	width: 250px;
	text-align: center;
	margin: 0 auto;
}

.sentChallenges img {
	width: 200px;
	margin-bottom: 100px;
}

#friend-search {
  background-color: #E9E9E9;
  padding: 25px 0;
  border-radius: 15px;
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
	.sentChallenges {
		padding-top: 3em;
	}
}
