* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Palanquin', sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.container-fluid {
	padding-left: 0;
}

.main-container {
	width: 100%;
	padding-left: 0;
	margin: 0;
}

/* Home */
.home {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 15;
	top: 45%;
	left: 50%;
	text-align: center;
	margin: -100px 0 0 -150px;
}

.home h2 {
	color: #091e5e;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 48px;
}

#login-btn,
#signup-btn {
	width: 100%;
	padding: 0.5em 0;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	margin-top: 1.5em;
}

#login-btn:hover,
#signup-btn:hover {
	color: #1034a6;
}

/* Home End */

/* Login */
.login {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 15;
	top: 45%;
	left: 50%;
	text-align: center;
	margin: -100px 0 0 -150px;
	max-width: 100vw;
}

#form-btn {
	width: 100%;
	padding: 0.5em 5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}

#form-btn:hover {
	color: #1034a6;
}

.form-btn {
	border: 0;
	padding: 0;
	margin-bottom: 2em;
}

.input {
	width: 80%;
	margin-left: 2em;
}
/* Login End */

/* My Account */
.my-account {
	position: absolute;
	width: 400px;
	height: 500px;
	z-index: 15;
	top: 30%;
	left: 40%;
	text-align: center;
	margin: -100px 0 0 -150px;
}

.circle {
	background: #333;
	margin-bottom: 2.5em;
	margin-left: 35%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/* My Account End */

.main {
	position: absolute;
	width: 400px;
	height: 500px;
	z-index: 15;
	top: 30%;
	left: 40%;
	text-align: center;
	margin: -100px 0 0 -150px;
	max-width: 100vw;
}

/* Create Maze */
.create-maze {
	text-align: center;
	padding: 0.75em;
}

.key {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0px 20px 35px;
}

.key p {
	text-align: left;
}

.key img {
	width: 30px;
	height: auto;
	float: left;
	margin-right: 15px;
}

#ready,
#rotate-right,
#rotate-left,
#selection,
#file {
	/* width: 100%; */
	padding: 0.25em 0.5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}

#ready:hover,
#rotate-right:hover,
#rotate-left:hover,
#selection:hover,
#file:hover {
	color: #1034a6;
}

.create-btn {
	border: 0;
	padding: 0;
	margin-left: 1.5em;
	outline: none;
}

.fileUpload {
	/* position: relative; */
	overflow: hidden;
	margin: 0.25em;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

@media screen and (min-width: 480px) {
	.create-maze {
		text-align: center;
		padding: 2.5em;
	}
	#selection {
		margin-top: 2em;
	}
	#rotate-right,
	#rotate-left {
		margin-bottom: 2em;
	}
}

/* End Create Maze */

/* Flood Fill Start */

#floodFillView {
	position: absolute;
	max-width: 100vw;
	height: 100vh;
	top: 0;
	left: 35%;
	margin: 0 0 0 0;
	text-align: center;
}

#floodFillView canvas {
	max-height: 80vh;
}

#floodFillButtons {
	position: absolute;
	width: 100%;
	/* margin: 1em; */
	z-index: 20;
	bottom: 0;
	left: 6.5em;
}

#send-btn,
#play-btn,
#newmaze-btn {
	width: 100%;
	padding: 0 0.5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	margin-top: 1.5em;
}

#send-btn:hover,
#play-btn:hover,
#newmaze-btn:hover {
	color: #1034a6;
}

.play-btn {
	border: 0;
	padding: 0;
	margin: 0 1.5em;
	/* outline: none; */
}

#mazeImageCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	margin: 0 0 0 0;
	z-index: -5;
}
#mazeImage {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	margin: 0 0 0 0;
	z-index: -5;
}

@media screen and (max-width: 480px) {
	#floodFillView {
		position: absolute;
		max-width: 100vw;
		height: 100vh;
		top: 0;
		left: 2.5em;
		margin: 0 0 0 0;
		text-align: center;
	}

	#floodFillView canvas {
		max-height: 75vh;
		/* margin-left: 2em; */
	}

	#floodFillButtons {
		position: absolute;
		width: 100%;
		z-index: 20;
		bottom: 1em;
		left: 3em;
	}

	.play-btn {
		border: 0;
		padding: 0;
		margin: 0 0.5em;
		background: none;
	}
}

/* End Flood Fill */

/* Pixi Game */

#field {
	position: absolute;
}

#staticDot {
	width: 15px;
	height: 15px;
	background-color: white;
}

#dynamicDot {
	width: 15px;
	height: 15px;
	background-color: yellow;
}

#totalLoss {
	background-color: white;
	position: relative;
	left: 60%;
	top: 80%;
	height: 40px;
	width: 80px;
}

ul {
	list-style: none;
}

#pixiGameBoard {
	position: absolute;
	max-width: 100vw;
	margin: 0 0 0 0;
	left: 35%;
}

#pixiGameBoard canvas {
	max-height: 100vh;
}

@media screen and (max-width: 480px) {
	#pixiGameBoard {
		position: absolute;
		min-width: 100vw;
		margin: 0 0 0 0;
		top: 0;
		bottom: 0;
		left: 2em;
		max-height: 80vh;
	}
	#pixiGameBoard canvas {
		max-height: 90vh;
	}
}

/* End of Pixi Game */

/* Tutorial page */

.tutorial {
	padding: 5em;
	text-align: center;
}

#started-btn {
	/* width: 100%; */
	padding: 0 0.5em;
	color: #020717;
	background: #e0e7fc;
	font-size: 18px;
	cursor: pointer;
}

#started-btn:hover {
	color: #1034a6;
}

@media screen and (max-width: 480px) {
	.tutorial {
		padding: 2.5em;
	}
}

/* End of Tutorial Page */
