body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#field {
  /* background-color: green; */
  /* width: 80%;
  height: 60vh; */
  position: absolute;
}

#staticDot {
  width: 15px;
  height: 15px;
  background-color: white;
}

#dynamicDot {
  width: 15px;
  height: 15px;
  background-color: yellow;
}

#totalLoss {
  background-color: white;
  position: relative;
  left: 60%;
  top: 80%;
  height: 40px;
  width: 80px;
}
/* 
#lossLine {
  display: none;
} */